
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald:wght@500&family=Playfair+Display:ital,wght@1,600&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald:wght@500&family=Playfair+Display:ital,wght@1,600;1,700&family=Roboto:wght@100&display=swap');


.max-width-1{
    max-width: 100vw;
}

.max-width-2{
    max-width: 80vw;
}

.m-auto{
    margin:auto;
}

.my-2{
    margin-top: 12px;
 
}

.btn{
    padding: 8px 15px;
    border-radius: 9px;
    font-size: 16px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    color:white;
    background-color:#068FFF;
}
.form-input{
        padding:6px 5px;
        padding-top: 7px;
        font-size: 16px;
        margin: 0px 13px;
        border-radius: 9px;
        border: 4px solid #068FFF;
        font-family: 'Merriweather', serif;
}


.right-companies{
    justify-content: right;
}
.form-box textarea{
    width:52vw;
    padding:10px 6px;
    margin:7px 0px;
    /* margin-top: 19px;
    margin-right: 90px; */
    border-radius: 9px;
    width: 777px;
    height: 213px;
    resize: none;
}

.form-box input{
    height: 45px;
    /* margin-top: 9px;
    margin-right: 85px; */
    margin:7px 0px;
    width:52vw;
    border-radius:9px;
}

.form-box text{
    padding-left: 9px;
}

.contact-form{
    position: absolute;
    margin:65px;
}